<div id="grid" class="page" fadeInView [ngClass]="site.renderFor">
  <section id="header">
    <app-header-pc title="Ownership" *ngIf="site.renderFor === 'pc'" displayBackButton="true"></app-header-pc>
    <app-header-mobile title="Ownership" *ngIf="site.renderFor === 'mobile'" displayBackButton="true"></app-header-mobile>
  </section>
  <section id="body">
    <h1>Company Info</h1>
    <ul>
      <li><span class="fieldName">Entity ID:</span>C103385</li>
      <li><span class="fieldName">Entity Name:</span>Concise Constructs, LLC</li>
      <li><span class="fieldName">Entity Type:</span>Domestic Limited Liability Company</li>
      <li><span class="fieldName">Owner:</span>Bryan Deetz</li>
      <li><span class="fieldName">Registered Agent:</span>Bryan Deetz</li> 
      <li><span class="fieldName">Date of Incorporation:</span>01/02/2019</li>
      <li><span class="fieldName">State of Incorporation:</span>Wisconsin</li>
      <li><span class="fieldName">Registered Agent Contact Info:</span>bd.bfb5c10b.191f.4948.aa63.78d742624138@protonmail.com</li>
    </ul>
  </section>
  <app-footer></app-footer>
</div>