#grid.pc {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "form contactInfo"
  ;
  #form {
    grid-area: form;
    padding: 1rem;
  }
  #contactInfo {
    grid-area: contactInfo;
    padding: 1rem;
  }
}


form {
  padding: 2rem;
  legend {
    font-size: clamp(.5rem, 12vw, 1.5rem);
    padding: 0rem 0rem 2rem 0rem;
  }
  #buttons {
    text-align: center;
  }
}

.formInput {
  margin: .5rem 1rem 2rem 1rem;
  width: 97%;
}

