<div id="grid" class="page" fadeInView [ngClass]="site.renderFor">
  <section id="header">
    <app-header-pc title="Tools" *ngIf="site.renderFor === 'pc'" displayBackButton="true"></app-header-pc>
    <app-header-mobile title="Tools" *ngIf="site.renderFor === 'mobile'" displayBackButton="true"></app-header-mobile>
  </section>
  <section id="body">
    <app-icons-container [icons]="icons" (output)="onOutput($event)"></app-icons-container>
  </section>
  <app-footer *ngIf="site.renderFor === 'pc'"></app-footer>
</div>