<ion-content fadeInView *ngIf="site.renderFor === 'mobile'">
  <app-mobile-header title="Create" displayBackButton="true"></app-mobile-header>
  <app-question-text-form [record]="this.record" (output)="onCreateButtonClick($event)"></app-question-text-form>
</ion-content>

<section fadeInView *ngIf="site.renderFor === 'pc'" id="pc">
  <app-pc-header [breadcrumbs]="breadcrumbs"></app-pc-header>
  <div id="grid" [ngClass]="site.screen.deviceClasses">
    <app-question-text-form [record]="this.record" (output)="onCreateButtonClick($event)"></app-question-text-form>
  </div>
</section>
