<div id="grid" class="page" fadeInView [ngClass]="site.renderFor">
  <section id="header">
    <app-header-pc title="Mobile Details" *ngIf="site.renderFor === 'pc'" displayBackButton="true"></app-header-pc>
    <app-header-mobile title="Mobile Details" *ngIf="site.renderFor === 'mobile'" displayBackButton="true"></app-header-mobile>
  </section>
  <section id="body">
    <h1>Mobile App Development</h1>
    <div id="detailsContainer">
      <h3>Details</h3>
      <p>In recent years, code used to develop websites can now be reused to develop versions of native mobile apps for both popular mobile platforms.  The website code now acts as the master and is converted to each respective mobile platform's native language for publication to the app store.  This saves a tremendous amount of both time and money as there is no longer a need to hire these three specific roles: Website Developer, iOs Developer and Android Developer.</p>
      <p>Mobile applications for both Apple iOs and Google Android phones are available for development.  We have designed our mobile code to be modular and can easily be reused from project to project.  This reduces ramping up time and creating the basic foundation of the app.  However, project timelines differ depending upon the project's needs.  To learn the time and cost of your project, submit a <a (click)="onEstimateLinkClick()">estimate</a> and we will respond within 24 hours.</p>
    </div>
    <div id="featuresContainer">
      <h5>Native Mobile Features</h5>
      <p>This is a small sample of popular features.  This is not an exhaustive list of all available features.</p>
      <ul>
        <li>Camera</li>
        <li>Push Notifications</li>
        <li>Geolocation</li>
        <li>Speech Recognition</li>
        <li>Text to Speech</li>
        <li>Device Vibration</li>
        <li>Device Shake Motion</li>
        <li>Video Player</li>
        <li>Audio Manager and Decibel Meter</li>
        <li>Barcode Scanner</li>
        <li>QR Code Scanner</li>
        <li>Calendar</li>
        <li>Document Viewer</li>
        <li>Email Composer</li>
        <li>Google Analytics</li>
        <li>Google Maps</li>
        <li>Secure Storage</li>
        <li>Keyboard</li>
        <li>Screenshot</li>
        <li>Battery Status</li>
        <li>Globalization</li>
      </ul>
    </div>
    <h2>Examples</h2>
    <div id="estimateRequestContainer">
      <button label="Request an Estimate" (click)="onEstimateLinkClick()" pButton></button>
    </div>
  </section>
</div>