<form *ngIf="form && site.renderFor === 'mobile'" [formGroup]="form">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1>New True / False Question & Answer</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h3>Question:</h3>
        <div class="formContent">
          <ion-item>
            <ion-textarea formControlName="question" rows="6"></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-radio-group formControlName="answer">
      <div class="formContent">
        <h3>Answer:</h3>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label>True</ion-label>
              <ion-radio slot="start" value="true" [checked]="getCheckedState(true)"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label>False</ion-label>
              <ion-radio slot="start" value="false" [checked]="getCheckedState(false)"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-radio-group>
    <ion-row>
      <ion-col size="12">
        <h3>{{ site.settings.messages.reasonFieldDescription }}</h3>
        <div class="formContent">
          <ion-item>
            <ion-textarea formControlName="reason" rows="6"></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="tagsService.records.length > 0" size="12">
        <h3>Tag:</h3>
        <div class="formContent">
          <ion-item>
            <ion-select multiple="true" placeholder="Select Categories" (ionChange)="onTagsSelect($event)">
              <ion-select-option *ngFor="let tag of tagsService.records" [value]="tag.id" [selected]="getSelectedStatus(tag)">{{ tag.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col *ngIf="tagOptions" size="12">
        <ion-item>
          <ion-label position="floating">Tag / Categorize</ion-label>
          <ion-select multiple="true" placeholder="Select Categories" (ionChange)="onTagsSelect($event)">
            <ion-select-option *ngFor="let option of tagOptions" [value]="option.id" [selected]="getSelectedStatus(option)">{{ option.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <hr class="formContent">
    <ion-row>
      <ion-col size="12">
        <div *ngIf="feedbackMessage" id="feedbackMessage">{{ feedbackMessage }}</div>
        <ion-button color="tertiary" expand="block" [disabled]="!canSubmit" (click)="onSubmitButtonClick()">{{ submitButtonLabel }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<section *ngIf="form && site.renderFor === 'pc'" id="pc">
  <form [formGroup]="form">
    <div id="grid">
      <h1>New True / False Question & Answer</h1>
      <h3>Question:</h3>
      <div class="formContent">
        <textarea formControlName="question" rows="6" pTextarea></textarea>
      </div>
      <h3>Answer:</h3>
      <div id="answerContainer" class="formContent">
        <p-radioButton formControlName="answer" label="True" name="answer" value="true"></p-radioButton>
        <p-radioButton formControlName="answer" label="False" name="answer" value="false"></p-radioButton>
      </div>
      <h3>Reason:</h3>
      <div class="formContent">
        <h6>{{ site.settings.messages.reasonFieldDescription }}</h6>
        <textarea formControlName="reason" rows="6" pTextarea></textarea>
      </div>
      <h3>Tag:</h3>
      <div class="formContent">
        <p-multiSelect formControlName="tags" [options]="tagsService.records" defaultLabel="Select One" optionLabel="name"></p-multiSelect>
      </div>
      <hr class="formContent">
      <div *ngIf="feedbackMessage" id="feedbackMessage">{{ feedbackMessage }}</div>
      <div id="buttonContainer">
        <button class="submitButton" [label]="submitButtonLabel" [disabled]="!canSubmit" (click)="onSubmitButtonClick()" pButton></button>
      </div>
    </div>
  </form>
</section>