<ion-content fadeInView *ngIf="site.renderFor === 'mobile'">
  <app-mobile-header title="Add" displayBackButton="true"></app-mobile-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div *ngFor="let option of questionOptions; let index = index" [ngClass]="setRowColor(index)" class="listItem">
          <ion-checkbox (click)="onToggleQuestion(option)" [checked]="option.selected"></ion-checkbox>
          <ion-label>{{ option.question }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<section fadeInView *ngIf="site.renderFor === 'pc'" id="pc">
  <app-pc-header></app-pc-header>
  <div id="grid" [ngClass]="site.screen.deviceClasses">
    <div *ngFor="let option of questionOptions; let index = index" [ngClass]="setRowColor(index)" class="listItem">
      <p-checkbox [label]="option.question" binary="true" name="options" [(ngModel)]="option.selected" (click)="onToggleQuestion(option)"></p-checkbox>
    </div>
    <hr class="formContent">
    <button pButton type="button" label="Back" (click)="onBackButtonClick()"></button>
  </div>
</section>
