#pc {
  height: 100%;
  width: 100%;
  #grid {
    display: grid;
    grid-template-areas:
      "content"
    ;
    margin: 6rem 3rem 3rem 3rem;
    height: 80%;
    #container {
      grid-area: content;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      text-align: center;
      button {
        margin-bottom: 1rem;
        width: 60%;
      }
    }
  }
}

ion-button {
  margin-top: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
}