<div id="grid" class="page" fadeInView [ngClass]="site.renderFor">
  <section id="header">
    <app-header-pc title="Platforms" *ngIf="site.renderFor === 'pc'" displayBackButton="true"></app-header-pc>
    <app-header-mobile title="Platforms" *ngIf="site.renderFor === 'mobile'" displayBackButton="true"></app-header-mobile>
  </section>
  <section id="body">
    <h1>Deployment Platforms</h1>
    <p>Platforms are typically a collection of tools, services, and hardware infrastructure needed to serve and run modern websites and applications.  There are several providers in this space that your website or mobile app can be deployed to.  If you are unsure or have no preference for which provider you would like to run your application on, AWS (Amazon Web Services) is widely considered to be the leader and most robust.</p>
    <ul>
      <li>Amazon Web Services - <a href="https://aws.amazon.com" target="_blank">Visit</a></li>
      <li>Google FireBase - <a href="https://firebase.google.com" target="_blank">Visit</a></li>
      <li>Microsoft Azure - <a href="https://azure.microsoft.com" target="_blank">Visit</a></li>
      <li>Alibaba Cloud - <a href="https://us.alibabacloud.com" target="_blank">Visit</a></li>
      <li>Knative - <a href="https://knative.dev" target="_blank">Visit</a></li>
      <li>Cloudflare - <a href="https://www.cloudflare.com" target="_blank">Visit</a></li>
      <li>Kubeless - <a href="https://kubeless.io" target="_blank">Visit</a></li>
      <li>Apache Whisk - <a href="https://openwhisk.apache.org" target="_blank">Visit</a></li>
      <li>Spotinst - <a href="https://spot.io" target="_blank">Visit</a></li>
    </ul>
  </section>
</div>