<app-loading *ngIf="is === 'loading'"></app-loading>
<div id="grid" class="page" fadeInView [ngClass]="app.renderFor">
  <section id="header">
    <app-header-pc *ngIf="app.renderFor === 'pc'" [title]="pageTitle" [displayBackButton]="displayBackButton"></app-header-pc>
    <app-header-mobile *ngIf="app.renderFor === 'mobile'" [title]="pageTitle" [displayBackButton]="displayBackButton"></app-header-mobile>
  </section>
  <section id="body">
    <h1>Donw For Maintenance</h1>    
    <p>An update is being applied.  Please check back later.</p>
  </section>
</div>
