<ion-content fadeInView *ngIf="app.renderFor === 'mobile'" id="mobile">
  <app-mobile-header title="Dashboard"></app-mobile-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1>Take Quiz</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="quiz" placeholder="Select One">
              <ion-select-option *ngFor="let quiz of quizes" [value]="quiz">{{ quiz.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="startButtonContainer" size="12">
        <ion-button color="tertiary" (click)="onStartButtonClick()">Start</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<section fadeInView *ngIf="app.renderFor === 'pc'" id="pc">
  <app-pc-header></app-pc-header>
  <div id="grid" [ngClass]="app.deviceClasses">
    <div id="quizSelection">
      <h1>Take Quiz</h1>
      <p-dropdown [options]="quizes" [(ngModel)]="quiz" placeholder="Select One" optionLabel="name"></p-dropdown>
      <hr>
      <button pButton label="Start" (click)="onStartButtonClick()"></button>
    </div>
    <div id="buttonOptions">
      <h3>Options</h3>
      <div class="optionButton">
        <button pButton label="New Category" (click)="onNewButtonClick('category')"></button>
        <button pButton label="New Question" (click)="onNewButtonClick('question')"></button>
        <button pButton label="New Quiz" (click)="onNewButtonClick('quiz')"></button>
      </div>
      <div class="optionButton">
        <button pButton id="browse" (click)="onNavigateButtonClick('search')" label="Browse Records"></button>
      </div>
      <div class="optionButton">
        <button pButton id="settings" (click)="onNavigateButtonClick('settings')" label="Settings"></button>
      </div>
    </div>
  </div>
</section>
