<div id="grid" class="page" fadeInView [ngClass]="site.renderFor">
  <section id="header">
    <app-header-pc title="Websites & PWAs" *ngIf="site.renderFor === 'pc'" displayBackButton="true"></app-header-pc>
    <app-header-mobile title="Websites & PWAs" *ngIf="site.renderFor === 'mobile'" displayBackButton="true"></app-header-mobile>
  </section>
  <section id="body">
    <h1>Website & Progressive Web App Details</h1>
    <p>Progressive Web Apps are websites and mobile apps that act like native desktop applications with offline functionality.  If a user loses internet connection they can continue to use the application and data is later synchronized when a connection is established again.</p>
    <ul>
      <li>Offline mode synchronizes with online database when internet connection is available</li>
      <li>Desktop computer push notifications</li>
      <li>SMS text messaging integration.  Incoming and Outgoing (individual and mass)</li>
      <li>Audio phone call integration.  Incoming/Outgoing (individual and mass)</li>
      <li>Email integration.  Incoming/Outgoing (individual and mass)</li>
      <li>Responsive layout design for all screen sizes</li>
      <li>Landing Pages for inbound marketing campaigns</li>
      <li>User submission forms</li>
      <li>Bulletin boards, conversation threads & real-time chat</li>
      <li>Account creation/login with encrypted password management that meets regulation compliances
        <ul>
          <li>HIPAA</li>
          <li>PCI DSS</li>
          <li>SOC</li>
          <li>ISO/IEC 27001</li>
          <li>ISO/IEC 27017</li>
          <li>ISO/IEC 27018</li>
          <li>ISO 9001</li>
        </ul>
      </li>
    </ul>
    <h3>Examples</h3>
    <div id="estimateRequestContainer">
      <button label="Request an Estimate" (click)="onEstimateLinkClick()" pButton></button>
    </div>
  </section>
</div>