<ion-app>
  <div *ngIf="site.layers">
    <div *ngIf="displayPrimaryChannel" [id]="site.layers['layer-primary-channel'].name" class="layer" [ngStyle]="site.layers['layer-primary-channel'].style">
      <app-feedback-header></app-feedback-header>
    </div>
    <div *ngIf="displaySecondaryChannel" [id]="site.layers['layer-secondary-channel'].name" class="layer" [ngStyle]="site.layers['layer-secondary-channel'].style">
      <app-feedback-toaster></app-feedback-toaster>
    </div>
    <div *ngIf="displayMain" [id]="site.layers['layer-main'].name" class="layer" [ngStyle]="site.layers['layer-main'].style">
      <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
        <p-footer>
          <button id="confirm" type="button" icon="pi pi-check" label="Confirm" (click)="cd.accept()" pButton></button>
          <button id="cancel" type="button" icon="pi pi-times" label="Cancel" (click)="cd.reject()" pButton></button>
      </p-footer>
      </p-confirmDialog>
      <ion-router-outlet></ion-router-outlet>
    </div>
    <div *ngIf="displayBackground" [id]="site.layers['layer-background'].name" class="layer" [ngStyle]="site.layers['layer-background'].style">
      <app-background-video></app-background-video>
    </div>
  </div>
</ion-app>

