<app-captcha-google *ngIf="!hasVerified"></app-captcha-google>
<form *ngIf="hasVerified" id="grid" [formGroup]="form" [ngClass]="site.renderFor">
  <div id="projectName">
    <div>
      <legend>Estimate Form</legend>
      <label for="projectName">Project / Job Name (if any):
        <input formControlName="projectName" class="formInput" type="text" name="projectName" id="projectName" pInputText>
      </label>
    </div>
  </div>
  <div id="projectContactInfo">
    <div>
      <label for="projectContactInfo">Contact Info (Email or Phone):
        <input formControlName="projectContactInfo" class="formInput" name="projectContactInfo" id="projectContactInfo" cols="30" rows="10" pInputText>
      </label>
    </div>
  </div>
  <div id="projectContactName">
    <div>
      <label for="projectContactName">Contact Name:
        <input formControlName="projectContactName" class="formInput" name="projectContactName" id="projectContactName" cols="30" rows="10" pInputText>
      </label>
    </div>
  </div>
  <div id="projectDescription">
    <div>
      <label for="projectDescription">Project Description:
        <textarea formControlName="projectDescription" class="formInput" name="projectDescription" id="projectDescription" cols="30" rows="10" pTextArea></textarea>
      </label>
    </div>
  </div>
  <div id="projectDetailsContainer">
    <div id="projectDetailsInput">
      <label for="projectRequirements">Project Requirements (if any):
        <div class="formInput">
          <h6>Such as Platform, Language, Database, Mobile Options (e.g. AWS/Angular/MySQL/Android) </h6>
          <textarea formControlName="projectRequirements" name="projectRequirements" id="projectRequirementsDescription" rows="10" pTextarea></textarea>
        </div>
      </label>
    </div>
  </div>
  <div id="projectTimeline">
    <div class="formInput">
      <fieldset id="fieldset">
        <legend>Desired Completion Timeline: (days, months)</legend>
        <label id="projectTimelineUnit" for="projectTimelineUnit">Unit:
          <p-dropdown formControlName="projectTimelineUnit" class="formInput" [options]="projectTimelineUnits"></p-dropdown>
        </label>
        <label id="projectTimelineValue" for="projectTimelineValue">Amount:
          <input formControlName="projectTimelineValue" class="formInput" type="number" name="projectTimelineValue" id="projectTimelineValue" pInputNumber>
        </label>
      </fieldset>
    </div>
  </div>
  <div id="buttons">
    <hr>
    <button label="Submit" (click)="onFormSubmitButtonClick()" [disabled]="form.invalid" pButton></button>
    <div *ngIf="displayErrorMessage" id="errorMessage" class="textErrorColor">{{ formFeedbackMessage }}</div>
  </div>
</form>
