<ion-content fadeInView *ngIf="site.renderFor === 'mobile'">
  <app-mobile-header title="Review"></app-mobile-header>
  <h1>Review</h1>
  <app-questionaire-text *ngIf="isTextQuestion" mode="grade" [question]="question" (output)="onGradeAnswer($event)"></app-questionaire-text>
  <app-questionaire-boolean *ngIf="isBooleanQuestion" mode="grade" [question]="question" (output)="onGradeAnswer($event)"></app-questionaire-boolean>
  <app-questionaire-multiple-choice *ngIf="isMultipleQuestion" mode="grade" [question]="question" (output)="onGradeAnswer($event)"></app-questionaire-multiple-choice>
</ion-content>

<section fadeInView *ngIf="site.renderFor === 'pc'" id="pc">
  <app-pc-header></app-pc-header>
  <div id="grid" [ngClass]="site.screen.deviceClasses">
    <h1>Review</h1>
    <app-questionaire-text *ngIf="isTextQuestion" mode="grade" [question]="question" (output)="onGradeAnswer($event)"></app-questionaire-text>
    <app-questionaire-boolean *ngIf="isBooleanQuestion" mode="grade" [question]="question" (output)="onGradeAnswer($event)"></app-questionaire-boolean>
    <app-questionaire-multiple-choice *ngIf="isMultipleQuestion" mode="grade" [question]="question" (output)="onGradeAnswer($event)"></app-questionaire-multiple-choice>
  </div>
</section>