  <div id="sectionPreface" class="policySection" [ngStyle]="display('Preface')">
    <h4>Preface for {{ appTitle }}</h4>
    <p>At {{ appTitle }}, accessible from {{ appWebAddress }}, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by {{ appTitle }} and how we use it.</p>
    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
  </div>

  <div id="sectionLogFiles" class="policySection" [ngStyle]="display('Log Files')">
    <h4>Log Files</h4>
    <p>{{ appTitle }} follows a standard procedure of using log files. These files log visitors when they visit websites. Most hosting companies do this and is a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, screen resolution, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, learning users' movement on the website, and gathering demographic information.</p>
  </div>

  <div id="sectionCookiesAndWebBeacons" class="policySection" [ngStyle]="display('Cookies')">
    <h4>Cookies and Web Beacons</h4>
    <p>Like any other website, {{ appTitle }} uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
    <p>For more general information on cookies, please read the "What Are Cookies" article on <a href="https://www.cookieconsent.com/what-are-cookies/" target="_blank">Cookie Consent website</a>.</p>
  </div>


  <div id="sectionPrivacyPolicies" class="policySection" [ngStyle]="display('Privacy Policies')">
    <h4>Privacy Policies</h4>
    <p>Third-party ad or library servers use technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on {{ appTitle }}, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
    <p>Note that {{ appTitle }} has no access to or control over these cookies that are used by third-party advertisers.</p>
  </div>

  <div id="sectionThirdPartyPrivacyPolicies" class="policySection" [ngStyle]="display('Third Party')">
    <h4>Third Party Privacy Policies</h4>
    <p>{{ appTitle }}'s Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
    <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>
  </div>

  <div id="sectionUserInformation" class="policySection" [ngStyle]="display('User Information')">
    <h4>User Information</h4>
    <p>{{ appTitle }} does not knowingly collect any Personal Identifiable Information other than voluntary submitted contact info used for replying to form submissions on the "Contact Us" and "Estimate" pages.</p>
  </div>


  <div id="sectionDeviceFeatures" class="policySection" [ngStyle]="display('Device Features')">
    <h4>Device Features</h4>
    <p>Mobile users of {{ appTitle }} may be prompted for the application to use certain features of the device.  The features are implemented to enhance the user experience of the app and are not used to gather information.  Any information that is gathered either through the app or website will not be sold to any third party.</p>
  </div>

  <div id="sectionOnlinePrivacyPolicyOnly" class="policySection" class="policySection" [ngStyle]="display('Online Privacy Policy Only')">
    <h4>Online Privacy Policy Only</h4>
    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in {{ appTitle }}. This policy is not applicable to any information collected offline or via channels other than this website.</p>
  </div>

  <div id="sectionConsent" class="policySection" [ngStyle]="display('Consent')">
    <h4>Consent</h4>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
  </div>

  <div id="ending">&nbsp;</div>
