<div id="container">
  <div>
    <span class="clickable" (click)="onDashboardClick()">Dashboard</span>
    <span *ngFor="let crumb of breadcrumbs" (click)="onCrumbClick(crumb)" [ngClass]="isClickable(crumb)">  > {{ crumb.label }}</span>
  </div>
  <div id="iconContainer">
    <ion-icon class="clickable" name="search" (click)="onSearchButtonClick()"></ion-icon>
    <ion-icon class="clickable" name="add" (click)="onAddButtonClick()"></ion-icon>
    <ion-icon class="clickable" name="settings" (click)="onSettingsButtonClick()"></ion-icon>
  </div>
</div>
<div id="spacer"></div>
