@import '../../../sass/master-variables.scss';

#submitButton {
  text-align: center;
  button {
    width: 80%;
  }
}

h1 {
  text-align: center;
}

#grid {
  grid-template-areas:
    "title"
    "nameInput"
    "description"
    "submitButton"
  ;
  form {
    label {
      font-size: 1.5rem;
    }
    #title {
      grid-area: title;
    }
    #nameInput {
      grid-area: nameInput;
      padding: 1rem;
    }
    #description {
      grid-area: description;
      padding: 1rem;
    }
    #submitButton {
      grid-area: submitButton;
      text-align: center;
    }
    button {
      width: 80%;
    }
  }
}

section#pc {
  padding-bottom: 5rem;
}

#feedbackMessage {
  padding: .5rem;
  margin: .5rem 1rem .5rem 1rem;
  background: var(--master-color-error-gradient);
  color: var(--master-color-error-contrast);
  border: 1px solid var(--master-color-error-shade);
  border-radius: 14px;
  text-align: center;
}