<div id="grid" class="page" fadeInView [ngClass]="app.renderFor">
  <section id="header">
    <app-header-pc title="Policies" *ngIf="app.renderFor === 'pc'" displayBackButton="true"></app-header-pc>
    <app-header-mobile title="Policies" *ngIf="app.renderFor === 'mobile'" displayBackButton="true"></app-header-mobile>
  </section>
  <section id="body">
    <div id="heading">
      <h1>{{ policyTitle || 'Choose a Policy' }}</h1>
    </div>
    <div id="sidebar">
      <p-slideMenu *ngIf="app.renderFor === 'pc'" [model]="items" effectDuration="250" easing="ease-in" viewportHeight="550" (click)="onMenuItemChange($event)"></p-slideMenu>
    </div>
    <div id="content">
      <div *ngIf="app.renderFor === 'mobile'">
        <p-radioButton name="policyTitle" label="Privacy" value="Privacy" [(ngModel)]="policyTitle"></p-radioButton>
        <p-radioButton name="policyTitle" label="Pricing & Refund" value="Pricing & Refund" [(ngModel)]="policyTitle"></p-radioButton>
      </div>
      <app-policy-privacy-view *ngIf="policyTitle === 'Privacy'" [section]="section"></app-policy-privacy-view>
      <app-policy-refund-view *ngIf="policyTitle === 'Pricing & Refund'" [section]="section"></app-policy-refund-view>
    </div>
  </section>
</div>