<div id="grid" class="page" fadeInView [ngClass]="site.renderFor">
  <section id="header">
    <app-header-pc title="Mobile Tools" *ngIf="site.renderFor === 'pc'" displayBackButton="true"></app-header-pc>
    <app-header-mobile title="Mobile Tools" *ngIf="site.renderFor === 'mobile'" displayBackButton="true"></app-header-mobile>
  </section>
  <section id="body">
    <h1>Mobile Framework</h1>
    <h5>Ionic Framework</h5>
    <p><a href="https://ionicframework.com">Ionic</a> is a framework that websites can be developed in and that code can also converted to native mobile apps.  This allows programmers to develop and maintain only one reusable code base which reduces costs tremendously.  The Ionic framework is compatible with both popular client-side frameworks of <a (click)="onToolsClick()">Angular</a> and <a (click)="onToolsClick()">React</a>.</p>
  </section>
</div>