#pc {
  #grid {
    display: grid;
    height: 80%;
    margin: 6rem 3rem 3rem 3rem;
  }
  #grid.medium, #grid.large, #grid.xlarge {
    width: 60%;
    margin: auto;
  }
  #grid.small {
    width: 90%;
    margin: auto;
  }
}