.questionText {
  font-style: italic;
}

section#pc {
  #buttonContainer {
    text-align: center;
    button {
      width: 80%;
    }
  }
  margin-bottom: 3rem;
}

.formContent {
  margin-right: 1rem;
}