<section *ngIf="site.renderFor === 'mobile'" id="mobile">
  <form *ngIf="form" [formGroup]="form">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <h3>Question:</h3>
          <div class="formContent">
            <p class="questionParagraph">"{{ question.question }}"</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mode === 'exam'">
        <ion-col size="12">
          <h3>Your Answer:</h3>
          <ion-list>
            <ion-radio-group formControlName="answer">
              <ion-list-header color="primary">Select One</ion-list-header>
              <ion-item *ngFor="let option of question.options">
                <ion-label>{{ option.answer }}</ion-label>
                <ion-radio slot="start" [value]="option.answer"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mode === 'grade'">
        <ion-col size="12">
          <h3>Correct Answer:</h3>
          <div class="formContent">
            <p class="questionParagraph">"{{ correctAnswer }}"</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="question.reason && mode === 'grade'">
        <ion-col>
          <h3>Reason:</h3>
          <div class="formContent">
            <p class="questionParagraph">"{{ question.reason }}"</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mode === 'grade'">
        <ion-col size="12">
          <h3>Your Answer:</h3>
          <div class="formContent">
            <p class="questionParagraph">"{{ question.userAnswer }}"</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-radio-group *ngIf="mode === 'grade'" formControlName="correct">
        <ion-row>
          <ion-col size="12">
            <h3>Grade Your Answer:</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <div class="formContent">
              <p-dropdown [options]="correctOptions" formControlName="correct" placeholder="Select One" optionLabel="name"></p-dropdown>
            </div>
          </ion-col>
          <ion-col size="6">
          </ion-col>
        </ion-row>
      </ion-radio-group>
      <ion-row>
        <ion-col size="12">
          <hr>
          <ion-button expand="full" color="secondary" (click)="onSubmitButtonClick()">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</section>

<section *ngIf="site.renderFor === 'pc'" id="pc">
  <form [formGroup]="form" [ngClass]="site.screen.deviceClasses">
    <h3>Question:</h3>
      <div class="formContent">
        <textarea rows="6">{{ question.question }}</textarea>
      </div>
    <div *ngIf="mode === 'exam'">
      <h3>Your Answer:</h3>
      <div class="formContent">
        <div *ngFor="let option of question.options" class="multipleChoiceOption">
          <p-radioButton [label]="option.answer" name="answer" [value]="option.answer" formControlName="answer"></p-radioButton>
        </div>
      </div>
    </div>
    <div *ngIf="mode === 'grade'">
      <h3>Your Answer:</h3>
        <div class="formContent">
          <textarea  rows="6">{{ question.userAnswer }}</textarea>
        </div>
      <h3>Correct Answer:</h3>
        <div class="formContent">
          <textarea rows="6">{{ correctAnswer }}</textarea>
        </div>
      <h3>Reason:</h3>
        <div class="formContent">
          <textarea rows="6" pTextarea>{{ question.reason }}</textarea>
        </div>
      <h3>Grade Your Answer:</h3>
        <div class="formContent">
          <p-dropdown [options]="correctOptions" formControlName="correct" placeholder="Select One" optionLabel="name"></p-dropdown>
        </div>
    </div>
    <hr class="formContent">
    <div id="buttonContainer">
      <button label="Next" class="submitButton" (click)="onSubmitButtonClick()" pButton></button>
    </div>
  </form>
</section>